@layer utilities {

    /* The following shadow can be used with different variation of surface color */


    .-shadow-xs {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

    }

    .dark .-shadow-xs {
        box-shadow: rgba(150, 150, 150, 0.05) 0px 0px 0px 1px;
    }


 /* The following shadow can be used to button */

    .-shadow-sm {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12) , 0px 1px 2px rgba(0, 0, 0, 0.24);

    }

    .dark .-shadow-sm {
        box-shadow: 0px 1px 3px rgba(150, 150, 150, 0.12) , 0px 1px 2px rgba(150, 150, 150, 0.24);

    }


    /* The following two shadows can be used to stuffs like dropdown.  */

    .-shadow-md {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15) , 0px 2px 4px rgba(150, 150, 150, 0.12);
    }

    .dark .-shadow-md {

        box-shadow: 0px 3px 6px rgba(150, 150, 150, 0.15) , 0px 2px 4px rgba(180, 180, 180, 0.12);

    }

   


    .-shadow-lg {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15) , 0px 3px 6px rgba(0, 0, 0, 0.10);
    }

    .dark .-shadow-lg {
        box-shadow: 0px 10px 20px rgba(150, 150, 150, 0.15) , 0px 3px 6px rgba(150, 150, 150, 0.10);
    }




    /* The following two shadows can be used to stuffs like modal.  */

    .-shadow-xl {
        box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.15) , 0px 5px 10px rgba(0, 0, 0, 0.5);
    }

    .dark .-shadow-xl {
        box-shadow: 0px 15px 25px rgba(150, 150, 150, 0.15) , 0px 5px 10px rgba(150, 150, 150, 0.5);
    }

    

    .-shadow-2xl {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 40px;

    }


    .dark .-shadow-2xl {
        box-shadow: rgba(150, 150, 150, 0.2) 0px 20px 40px;

    }

}