
@layer base {


    :root {

        /*bg-blue-l1a1 or, text-blue-l1a1 */
       --blue-layer-1-alpha-1: hsl(200,80%,20%); 

       /*bg-blue-l1a2 or, text-blue-l1a2 */
       --blue-layer-1-alpha-2: hsl(200,80%,30%); 

       /*bg-blue-l1a3 or, text-blue-l1a3 */
       --blue-layer-1-alpha-3: hsl(200,80%,40%); 

       /*bg-blue-l1a4 or, text-blue-l1a4 */
       --blue-layer-1-alpha-4: hsl(200,80%,50%); 





       /*bg-blue-l2a1 or, text-blue-l2a1 */
       --blue-layer-2-alpha-1: hsl(200,80%,80%);
      
       /*bg-blue-l2a2 or, text-blue-l2a2 */
       --blue-layer-2-alpha-2: hsl(200,80%,70%); 

       /*bg-blue-l2a3 or, text-blue-l2a3 */
       --blue-layer-2-alpha-3: hsl(200,80%,60%); 

       /*bg-blue-l2a4 or, text-blue-l2a4 */
       --blue-layer-2-alpha-4: hsl(200,80%,50%); 

    }





    .dark {

        /*bg-blue-l1a1 or, text-blue-l1a1 */
        --blue-layer-1-alpha-1: hsl(200,80%,80%);
      
        /*bg-blue-l1a2 or, text-blue-l1a2 */
        --blue-layer-1-alpha-2: hsl(200,80%,70%); 
 
        /*bg-blue-l1a3 or, text-blue-l1a3 */
        --blue-layer-1-alpha-3: hsl(200,80%,60%); 
 
        /*bg-blue-l1a4 or, text-blue-l1a4 */
        --blue-layer-1-alpha-4: hsl(200,80%,50%); 
 




       /*bg-blue-l2a1 or, text-blue-l2a1 */
       --blue-layer-2-alpha-1: hsl(200,80%,20%);
      
       /*bg-blue-l2a2 or, text-blue-l2a2 */
       --blue-layer-2-alpha-2: hsl(200,80%,30%); 

       /*bg-blue-l2a3 or, text-blue-l2a3 */
       --blue-layer-2-alpha-3: hsl(200,80%,40%); 

       /*bg-blue-l2a4 or, text-blue-l2a4 */
       --blue-layer-2-alpha-4: hsl(200,80%,50%); 
        
    }

}
