
// border-top
@mixin border-t ($width:2px, $color: $grey){
 border-top : $width solid $color;
}

// border-bottom
@mixin border-b ($width:2px, $color:$grey) {
    border-bottom : $width solid $color;
   }
   
//border-left
@mixin border-l ($width:2px, $color:$grey){
 border-left : $width solid $color;
}

//border-right

@mixin border-r ($width:2px, $color:$grey){
    border-right : $width solid $color;
   }
   
